@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'reboto', sans-serif;
}

body {
    background: url(../login/img/Sky\ -\ Imgur.png)
    no-repeat fixed center; 
    background-size: cover;
}

.contanier {
    display: flex;
    justify-content:center;
    width: auto;
    margin: 100px;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 50px 100px 50px 100px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 50px;
}

/* ENTRAR */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #f3b4cd;
    background: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 27px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #972452;
}

.label-float label {
    color: #fff;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label {
    font-size: 13px;
    margin-top: 0;
    color: #972452;
    text-shadow: 1px 1px 1px #fff;
}

#password input:focus + label {
    color: #972452;
    text-shadow: 1px 1px 1px #fff;
}

button {
    background: #ffffff20;
    border-color: #fff;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background: #972452;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
    color: #972452;
}

p {
    color: #ffffff;
    font-size: 14pt;
    text-align: center;
}

a {
    color: #972452 bolder;
    text-decoration: underline;
    transition: all .3s ease-out;
}
